*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.container {
    width: 100%;
    height: 100vh;
    background: rgb(162, 162, 162);
    display: flex;
    justify-content: center;
    align-items: center
}
.abcRioButton,  .abcRioButtonLightBlue {
    border-radius: 40px !important;
}